<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AutoParts</title>
</head>
<body>
  <div class="d-flex justify-content-around">
    <div class="input-group m-4 w-25">
      <input type="text" placeholder="Wpisz nazwę szukanej części" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="partName">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="find()">Szukaj</button>
    </div>
  </div>
  <div class="d-flex justify-content-around m-5" *ngIf="searching">
    <div><strong>Loading...</strong></div>
    <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>

  <div class="d-flex justify-content-around"> 
    <div d-flex flex-column *ngFor="let companyPart of response.cheapestPart">
      <h1>{{companyPart.companyName}}</h1>
      <div class="card m-3" style="width: 18rem;" *ngFor="let part of companyPart.parts">
        <img src={{part.imgUrl}} class="card-img-top w-100" >
        <div class="card-body">
          <p class="card-text">{{part.description}}</p>
          <p class="card-text fw-bold">{{part.price}}</p>
          <p class="card-text">{{part.producer}}</p>
          <a href="{{part.pageUrl}}" class="btn btn-primary">Kup</a>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-around"> 
    <div d-flex flex-column *ngFor="let companyPart of response.companyParts">
      <h1>{{companyPart.companyName}}</h1>
      <div class="card m-3" style="width: 18rem;" *ngFor="let part of companyPart.parts">
        <img src={{part.imgUrl}} class="card-img-top w-100" >
        <div class="card-body">
          <p class="card-text">{{part.description}}</p>
          <p class="card-text fw-bold">{{part.price}}</p>
          <p class="card-text">{{part.producer}}</p>
          <a href="{{part.pageUrl}}" class="btn btn-primary">Kup</a>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>